<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function(){
    	var modal = document.getElementById('modal');
        $('#launch-modal').click(function() {
        modal.showModal();
        });
        $('#close-modal').click(function() {
        var close = document.getElementById('close-modal');
        modal.close();
        });
    });
    
    </script>
        <title>Spring Boot</title>
        <meta charset="UTF-8">
    </head>
    <body>
    <h1>..::  1er aplicacion web Sprint Boot  ::..</h1>
        <a href="/ClienteRest/hello">Go Home</a>
        <button id="launch-modal">Launch Modal</button>
<dialog id="modal">


  <p>You can not click anything else</p>


  <button id="close-modal">Close</button>
</dialog>
    </body>
</html>